.filtres {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.filtres select {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  appearance: auto;
}

.filtres button {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}
.filtres input[type="date"] {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}
